@import 'variables.css';
@import 'keyframes.css';

.header {
  max-width: $wide-width;
  margin: 0 auto;
  margin-bottom: 4rem;
  text-align: center;

  h1 {
    animation: fadein 0.5s 0.4s ease-in-out backwards;
  }
}

.portrait {
  width: 120px;
  height: 120px;
  margin-bottom: 1.2rem;
  border-radius: 60px;
  transition: transform 0.2s ease-in-out;
  animation: fadein 0.5s 0.4s ease-in-out backwards;

  &:active {
    transform: scale(0.8);
  }
}
