@import "variables.css";
@import "keyframes.css";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
  overflow: auto;
  opacity: 0;
  animation: fadein .5s .5s ease-in-out forwards;

  a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    line-height: 1;

    &:hover:after {
      transform: scaleX(1);
      transform-origin: left center;
    }

    &:after {
      display: block;
      position: absolute;
      background: #7BDBC0;
      content: '';
      top: 110%;
      width: 100%;
      left: 0;
      height: 2px;
      transform: scaleX(0);
      transform-origin: right center;
      transition: .4s transform cubic-bezier(.19, 1, .22, 1);
      z-index: -2;
    }
  }
}
