/* 
  Reset
*/

body {
  max-width: 68rem;
  margin: 0 auto;
  font-family: var(--sans-serif);
  font-size: 120%;
  line-height: 1.6875;
  color: var(--font-color);
  background-color: var(--main-color);

  display: grid;
  grid-template-columns: 25% 75%;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga", "hist", "onum";
}

main {
  padding: 0 var(--horizontal) var(--horizontal);
  background-color: #fff;
}

main:before {
  position: absolute;
  top: -45vh;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: #fff;
  content: ' ';
}

aside {
  padding: 0 var(--horizontal-half);
  height: 100vh;
  text-align: right;
}

header,
dl {
  display: flex;
  align-items: flex-end;
  flex-flow: row wrap;
  align-content: flex-end;
  height: 8rem;
  margin-bottom: var(--horizontal-half);
}

dl {
  line-height: 1;
}

dl a {
  width: 100%;
  text-decoration: none;
}

dl a:hover {
  color: inherit;
}

dt {
  color: var(--site-color);
}

dd {
  margin-top: 0.5rem;
  color: var(--meta-color);
}

ul.nav {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
  list-style: none;
}

ul.nav li a {
  color: var(--meta-color);
  text-decoration: none;
}

ul.nav li a.active {
  color: var(--text-color);
}

ul.nav li a:not(.active):hover {
  color: var(--text-color);
}

footer {
  color: var(--meta-color);
  font-size: 80%;
  grid-column-start: 2;
  padding: var(--spacer) var(--horizontal) var(--horizontal);
}
