/* 
  Base
*/

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  font-family: var(--sans-serif);
  font-size: 125%;
  line-height: 1.7778;
  color: var(--font-color);
  background-color: var(--main-color);
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  font-feature-settings: "liga", "hist", "onum";

  @media (--medium-viewport) {
    font-size: 112.5%;
  }

  @media (--small-viewport) {
    font-size: 100%;
  }
}

main {
  max-width: 68rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 75%;

  @media (--medium-viewport) {
    display: block;
  }
}

article {
  padding: 0 var(--horizontal) var(--horizontal);
  background-color: #fff;
}

aside {
  padding: 0 var(--horizontal-half);
  height: 100vh;
  text-align: right;

  @media (--medium-viewport) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: var(--horizontal) var(--horizontal);
    height: auto;
    text-align: left;
  }
}

header,
dl {
  display: flex;
  align-items: flex-end;
  flex-flow: row wrap;
  align-content: flex-end;
  height: 8rem;
  margin-bottom: var(--horizontal-half);

  @media (--medium-viewport) {
    display: block;
    height: auto;
    margin-bottom: 0;
  }
}

header {
  @media (--medium-viewport) {
    padding-top: var(--horizontal);
    margin-bottom: var(--horizontal);
  }
}

dl {
  line-height: 1;
}

dl a {
  width: 100%;
  text-decoration: none;
}

dl a:hover {
  color: inherit;
}

dd {
  margin-top: 0.5rem;
  color: var(--meta-color);

  @media (--medium-viewport) {
    margin-top: 0.3rem;
  }
}

ul.nav {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
  list-style: none;

  @media (--medium-viewport) {
    line-height: 1;
  }
}

ul.nav li {
  @media (--medium-viewport) {
    display: inline-block;
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (--medium-viewport) {
    margin-right: 1rem;
  }
}

ul.nav :any-link {
  color: var(--meta-color);
  text-decoration: none;
}

ul.nav :any-link.active {
  color: var(--font-color);
}

ul.nav :any-link:hover {
  color: var(--font-color);
}

footer {
  color: var(--meta-color);
  font-size: 80%;
  grid-column-start: 2;
  padding: var(--spacer) var(--horizontal) var(--horizontal);
}
