.portfolio-item {
  & figure {
    margin-top: var(--spacer-half);
  }
}

.portfolio-item__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  & h2 {
    margin-bottom: 0;
  }

  & a {
    margin-left: 1rem;
    color: var(--site-color);
    text-transform: uppercase;
    font-feature-settings: 'smcp', 'c2sc', 'lnum';
    letter-spacing: .05em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & span {
    flex: 0 0 100%;
    color: var(--meta-color);
  }
}
