/* 
  Variables
*/

@custom-media --medium-viewport (max-width: 900px);
@custom-media --small-viewport (max-width: 600px);

:root {
  --spacer: 1.6875rem;
  --spacer-half: calc(var(--spacer) / 2);
  --horizontal: 80px;
  --bp-medium: 900px;
  --bp-small: 600px;
  --horizontal-half: calc(var(--horizontal) / 2);
  --horizontal-double: calc(var(--horizontal) * 2);
  --site-color: #00baff;
  --font-color: #222;
  --meta-color: #999;
  --main-color: #fafafa;

  --sans-serif-fallback: system-ui;
  --sans-serif: National, var(--sans-serif-fallback);

  --serif-fallback: Georgia, serif;
  --serif: Tiempos Text, var(--serif-fallback);
}

@media (--medium-viewport) {
  :root {
    --horizontal: 40px;
    --spacer: 1.2rem;
  }
}

@media (--small-viewport) {
  :root {
    --horizontal: 20px;
    --spacer: 1rem;
  }
}
