/* 
  Variables
*/

:root {
  --spacer: 1.6875rem;
  --horizontal: 80px;
  --horizontal-half: calc(var(--horizontal) / 2);
  --horizontal-double: calc(var(--horizontal) * 2);
  --site-color: #00baff;
  --font-color: #222;
  --meta-color: #999;
  --main-color: #fafafa;

  --sans-serif-fallback: "BlinkMacSystemFont", -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  --sans-serif: National, var(--sans-serif-fallback);

  --serif-fallback: Georgia, serif;
  --serif: var(--sans-serif),Tiempos Text, var(--serif-fallback);
}
