/* 
  Reset
*/

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

input,
button,
textarea {
  font: inherit;
}

h2, h3,
ul, ol,
p, table, form, figure, blockquote,
pre {
  margin-bottom: var(--spacer);
}

img {
  max-width: 100%;
}

ul,
ol {
  padding-left: 0;
}
