{
  "presets": ["next/babel", "stage-0"],
  "plugins": [
    "transform-decorators-legacy",
    "babel-plugin-root-import",
    "inline-react-svg",
    [
      "styled-modules/babel",
      {
        "pattern": "\\.css$"
      }
    ]
  ]
}
