SPOTIFY_REFRESH_TOKEN=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

LASTFM_API_KEY=
LASTFM_USERNAME=

CONTENTFUL_SPACE_ID=
CONTENTFUL_DELIVERY=
CONTENTFUL_PREVIEW=
CONTENTFUL_MANAGEMENT_TOKEN=
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_DEFAULT_LOCALE=en-US

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GLOBE_CONTENTFUL_SPACE_ID=
GLOBE_CONTENTFUL_DELIVERY=
VITE_MAPBOX_KEY=

LITERAL_EMAIL=
LITERAL_PASSWORD=
LITERAL_TOKEN=
LITERAL_USER_ID=
LITERAL_USER_HANDLE=

GOODREADS_USER_ID=

GITHUB_REPO_CLONE_TOKEN=
PROTECTED_AREA_PASSWORD=
PERSONALIZED_CODES=
PRERENDER=
