@import 'variables.css';
@import 'keyframes.css';

.project {
  display: block;
  background-color: $fade-color;
  padding: 5rem 6rem;
  margin-bottom: 1.5rem;
  list-style: none;
  text-align: center;
  animation: fadein 0.5s 2s cubic-bezier(0.24, 0, 0.64, 1) backwards;
  transition: 0.2s ease-in-out box-shadow;
  will-change: box-shadow;

  img,
  video {
    display: block;
  }
}

.border {
  position: relative;
  margin-bottom: 3rem;
  border-radius: 12px;
  overflow: auto;
  border-radius: 6px;
  /* padding: 20px; */
  /* background-color: #111; */
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.phone {
  display: inline-block;
  margin-bottom: 3rem;
  /* padding: 70px 20px; */
  max-width: 290px;
  /* background-color: #111; */
  border-radius: 6px;
  /* border-radius: 40px; */
  overflow: auto;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.anchor {
  text-decoration: none;
}
