/*
 * Typography
 * ==========
 *
 */

h1 {
  font-size: 2rem;
  font-family: Dia-Black;
  line-height: 1.2;

  margin: 0;

  letter-spacing: -0.03em;

  @include large {
    font-size: 2.2em;
  }
  @include medium {
    font-size: 3em;
  }
  @include small {
    font-size: 2.2em;
  }

  em {
    font-style: normal;

    display: inline;

    transform: none;

    // box-shadow: inset 0 -0.1em 0 #fff, inset 0 -0.5em 0 var(--backdrop);
  }
}

h2,
.h2 {
  font-size: 1.5em;
  font-family: Dia-Black;
  line-height: 1.1;
  margin-bottom: var(--unit);

  letter-spacing: -0.03em;
}

h3,
.h3 {
  font-size: 1.5rem;
  font-family: Dia-Black;
  line-height: 1.37;

  margin: 0.6rem 0 0;

  letter-spacing: -0.02em;
}

h6 {
  font-size: inherit;
  font-size: inherit;
  font-weight: normal;
  font-feature-settings: 'smcp', 'c2sc', 'lnum';
  line-height: 1;

  margin: 1.5em 0 1em;

  // letter-spacing: 1px;
  // text-transform: uppercase;

  color: var(--meta-color);

  @include small {
    margin: var(--unit) 0 0;
  }

  &:after {
    width: var(--unit);
    height: 1px;
    margin-left: 0.85rem;

    background-color: var(--border-color);
    // content: '';
  }
}

hgroup {
  h1 {
    margin-top: 0.2em;
  }
}

a {
  text-decoration: underline;

  color: inherit;

  text-decoration-skip: ink;

  &:hover {
    color: var(--accent-color);
  }
}

a.external {
  position: relative;

  margin-right: 0.85em;

  &:before {
    position: absolute;
    right: -0.85em;

    display: block;

    padding-left: 0.8em;

    content: '\2197';
    text-align: right;
  }
}

p {
  margin-top: 0;
  margin-bottom: 28px;
}

em {
  font-style: normal;

  display: inline-block;

  transform: skewX(-8deg);
}

blockquote {
  margin: 0;
  padding-left: 2em;

  p {
    color: var(--meta-color);
  }
}

.caps {
  font-feature-settings: 'smcp', 'c2sc', 'lnum';

  letter-spacing: 0.05em;
}
