/*
 * Base
 * ====
 *
 */

* {
  box-sizing: border-box;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  background-color: var(--fade-color);
}

html.wf-loading {
  body {
    font: 120%/1.444 var(--sans-serif-fallback);
  }
}

body {
  font: 125%/1.444 var(--sans-serif);
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'calt', 'liga', 'hist', 'onum', 'pnum';
  text-rendering: optimizeLegibility;

  position: relative;

  overflow-x: hidden;

  max-width: var(--outer-rim);
  margin: 0 auto;
  padding: 0;

  color: var(--text-color);
  background-color: #fff;

  @include large {
    font-size: 120%;
  }
  @include medium {
    font-size: 110%;
  }
  @include small {
    font-size: 100%;
  }
}

.container {
  position: relative;

  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 var(--unit-half);

  &.slim {
    max-width: 650px;
  }
}

.button {
  font-family: Dia-Black;
  font-size: 80%;

  display: inline-block;

  padding: 0.8rem 1.2rem;

  transition: 0.2s transform cubic-bezier(0, 0.405, 0, 1.285);
  text-decoration: none;

  color: #fff;
  border-radius: 5px;
  background-color: var(--accent-color);

  &:hover {
    transform: scale(1.1);
  }

  &.secondary {
    background-color: var(--meta-color);
  }

  & + .button {
    margin-left: 1rem;
  }
}

.grid {
  display: flex;
  flex-flow: wrap;
}

.col {
  margin-right: var(--unit);

  @include small {
    margin-right: 0;

    flex: 0 0 100%;
  }

  flex: 0 0 calc(50% - var(--unit-half));

  &:nth-child(2) {
    margin-right: 0;
  }
}
