/*
 * Variables
 * =========
 *
 */

// For breakpoint mixins.
$small-width: 600px;
$smedium-width: 770px;
$medium-width: 1024px;
$large-width: 1240px;

:root {
  --sans-serif-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --sans-serif: 'Nitti Grotesk', Graphik, Isidora Sans, Tofino,
    var(--sans-serif-fallback);
  --text-color: #191c1e;
  --meta-color: #a0a6ad;
  --meta-color: #777;
  --fade-color: #f8f8f9;
  --accent-color: #13ba6c;
  --backdrop: rgba(26, 28, 70, 0.1);
  --unit: 6rem;
  --unit-half: calc(var(--unit) / 2);
  --unit-quarter: calc(var(--unit) / 4);
  --unit-double: calc(var(--unit) * 2);

  --content-width: calc(100vw - var(--unit));
  --outer-rim: 2000px;

  --h1-min: 20px;
  --h1-max: 54px;
  --viewport-min: 480;
  --viewport-max: 1400;

  @include medium {
    --unit: 4rem;
  }

  @include small {
    --unit: 2rem;
  }
}
