/*
 * Work/Posts
 * ==========
 *
 */

figure {
  position: relative;

  margin: 0;

  text-align: center;

  color: var(--meta-color);

  &:hover .link {
    opacity: 1;
  }

  &.background {
    padding: var(--unit);

    background-color: var(--fade-color);
  }

  &.slim {
    max-width: calc(50% - var(--unit-half));
  }

  &.right {
    margin-left: auto;
  }

  .link {
    position: absolute;
    z-index: 1;
    top: var(--unit-quarter);
    right: var(--unit-quarter);

    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

    opacity: 0;
  }

  img {
    // max-width: calc(50% - var(--unit));
  }
}

figcaption {
  text-align: center;
}

article {
  position: relative;

  overflow: auto;

  & > div {
    display: flex;

    flex-flow: row wrap;
  }
}

.intro {
  width: 100%;
  color: var(--meta-color);

  ul {
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;

    li {
      position: relative;

      display: flex;

      align-items: center;

      & + li {
        margin-top: 0.5rem;
      }

      &:after {
        width: var(--unit);
        height: 1px;
        margin-left: 0.85rem;

        content: '';

        background-color: var(--border-color);
      }
    }
  }
}

.block {
  max-width: calc(50% - var(--unit));
  margin-bottom: var(--unit-double);

  @include small {
    max-width: 100%;

    flex-shrink: 0;
  }

  &.pull {
    margin-bottom: var(--unit);
  }

  &.center {
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;

    text-align: center;

    flex-shrink: 0;
  }

  &.right {
    margin-right: var(--unit-half);
    margin-left: auto;
  }

  &.vc {
    display: flex;

    align-items: center;
    align-content: center;
    flex-flow: row wrap;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

article h2 + p {
  max-width: calc(50% - var(--unit));
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  @include medium {
    max-width: 100%;
  }
}

article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-top: 0;
  margin-bottom: var(--unit-half);
}
