/*
 * Landing
 * =======
 *
 */

.post:hover .cover:after {
  // box-shadow: inset 0 0 0 10px #fff;
  background-color: rgba(#191c1e, 0.5);
}

.post:hover h2 {
  opacity: 1;
  transform: translateY(0);
}

.cover {
  position: relative;

  overflow: hidden;

  transform: translate3d(0, 0, 0);

  h2 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    opacity: 0;
    justify-content: center;
    transform: translateY(20px);
    transition: 1s transform cubic-bezier(0.19, 1, 0.22, 1),
      1s opacity cubic-bezier(0.19, 1, 0.22, 1);
    align-items: center;
    text-shadow: 0 0 40px rgba(#000, 0.1);
    color: #fff;
  }

  &:after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    transition: 1s box-shadow cubic-bezier(0.19, 1, 0.22, 1),
      1s background-color cubic-bezier(0.19, 1, 0.22, 1);
    background-color: rgba(0, 0, 0, 0);

    box-shadow: inset 0 0 0 0 #fff;
  }

  img {
    display: block;

    transition: 1s transform cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.post {
  margin-bottom: var(--unit);

  @include small {
    margin-bottom: var(--unit-double);
  }

  &:hover .cover img {
    transform: scale(1.05);
  }

  a {
    text-decoration: none;
  }
}
