$small-width: 480px;
$medium-width: 1024px;
$large-width: 1240px;

@font-face {
  font-family: 'Nitti Grotesk';
  font-weight: normal;
  src: url('/fonts/NittiGrotesk-Normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Nitti Grotesk';
  font-weight: bold;
  src: url('/fonts/NittiGrotesk-Bold.woff2') format('woff2');
}

@mixin small {
  @media (max-width: #{$small-width}) {
    @content;
  }
}

@mixin medium {
  @media (max-width: #{$medium-width}) {
    @content;
  }
}

@mixin medium-only {
  @media (max-width: #{$medium-width}) and (min-width: #{$small-width}) {
    @content;
  }
}

@mixin large {
  @media (max-width: #{$large-width}) {
    @content;
  }
}

:root {
  --sans-serif: 'Nitti Grotesk', Graphik, Isidora Sans, Tofino, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --text-color: #191c1e;
  --text-color: #000;
  --meta-color: #a0a6ad;
  --meta-color: #808080;
  --fade-color: #f8f8f9;
  --backdrop: rgba(26, 28, 70, 0.1);
  --unit: 6rem;
  --unit-half: calc(var(--unit) / 2);
  --unit-quarter: calc(var(--unit) / 4);
  --unit-double: calc(var(--unit) * 2);

  --content-width: calc(100vw - var(--unit));
  --outer-rim: 2000px;

  --h1-min: 20px;
  --h1-max: 54px;
  --viewport-min: 480;
  --viewport-max: 1400;

  @include medium {
    --unit: 4rem;
  }

  @include small {
    --unit: 2rem;
  }
}

/* BASE */

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  background-color: var(--fade-color);
}

body {
  position: relative;
  max-width: var(--outer-rim);
  margin: 0 auto;
  padding: 0;
  font: 140%/1.444 var(--sans-serif);
  font-weight: normal;
  background-color: #fff;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'liga', 'onum';
  text-rendering: optimizeLegibility;
  overflow-x: hidden;

  @include large {
    font-size: 120%;
  }

  @include medium {
    font-size: 110%;
  }

  @include small {
    font-size: 100%;
  }
}

p {
  margin-top: 31px;
  margin-bottom: 31px;
  // font-family: Adobe Garamond Pro;
  // line-height: 1.5;
}

ul p,
ol p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style-position: outside;
}

ul ul,
ul ol,
ol ol {
  padding-left: var(--unit-quarter);
}

hr {
  height: 1px;
  margin-top: 0;
  margin-bottom: var(--unit);
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

em {
  font-style: normal;
  display: inline-block;
  transform: skewX(-8deg);
}

blockquote {
  margin: 0;
  padding-left: 2em;
  p {
    color: var(--meta-color);
  }
}

h1 {
  font-size: 2.2em;
  // font-size: calc(35px + (58 - 30) * ((100vw - 480px) / (2000 - 480)));
  line-height: 1.1;
  letter-spacing: -0.02em;
  font-weight: bold;
  // font-family: 'SachsenwaldW04-Regular', Teutura Display;

  @include medium {
    font-size: 3.2em;
  }

  @include small {
    font-size: 2.2em;
  }

  em {
    font-style: normal;
    display: inline;
    transform: none;
    // box-shadow: inset 0 -0.1em 0 #fff, inset 0 -0.5em 0 var(--backdrop);
  }
}

h2,
.h2 {
  margin: 0.3em 0 0;
  font-size: 1.8em;
  letter-spacing: -0.02em;
  line-height: 1;
}

h3,
.h3 {
  margin: 0.6rem 0 0;
  font-size: 1.6rem;
  letter-spacing: -0.02em;
  line-height: 1;
}

h6 {
  margin: 3rem 0 0;
  font-size: 0.8em;
  letter-spacing: 0.03em;
  line-height: 1.1;
  font-weight: normal;
  color: var(--meta-color);
  text-transform: uppercase;

  @include small {
    margin: var(--unit-half) 0 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-skip: ink;
}

a.external {
  position: relative;
  margin-right: 0.8em;

  &:before {
    position: absolute;
    display: block;
    right: -0.8em;
    padding-left: 0.8em;
    text-align: right;
    content: '\2197';
  }
}

img,
video {
  max-width: 100%;
}

video {
  width: 100%;
}

figure {
  position: relative;
  text-align: center;
  margin: 0 0 var(--unit);
  color: var(--meta-color);

  &:hover .link {
    opacity: 1;
  }

  &.background {
    background-color: var(--fade-color);
    padding: var(--unit);
  }

  &.slim {
    max-width: calc(50% - var(--unit-half));
  }

  &.right {
    margin-left: auto;
  }

  .link {
    position: absolute;
    top: var(--unit-quarter);
    right: var(--unit-quarter);
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 1;
  }

  img {
    max-width: calc(50% - var(--unit));
  }
}

figcaption {
  text-align: center;
}

.caps {
  font-feature-settings: 'smcp', 'c2sc', 'lnum';
  letter-spacing: 0.05em;
}

.container {
  position: relative;
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 var(--unit-half);
}

/* TOPBAR */

@mixin scrolled {
  position: fixed;
  top: 0;
  margin-top: 0;
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
}

@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bg {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.95);
  }
}

.topbar {
  position: absolute;
  width: 100%;
  max-width: var(--outer-rim);
  top: 0;
  margin-top: calc(var(--unit) - var(--unit-quarter));
  padding: var(--unit-quarter) 0;
  transition: background-color 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
  z-index: 2;

  @include medium {
    @include scrolled;
    height: 48px;
  }

  @include small {
    &:after {
      position: absolute;
      top: 48px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(#fff, 0.1);
      content: '';
    }
  }

  &:before {
    position: absolute;
    top: -100px;
    width: 100%;
    height: 100px;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.13s ease-in-out;
    content: '';

    @include small {
      display: none;
    }
  }

  &.scrolled {
    @include scrolled;
  }

  &.scrolled:before {
    opacity: 1;
  }

  .name {
    position: relative;
    z-index: 1;
    transition: 0.5s color cubic-bezier(0.19, 1, 0.22, 1);
  }

  nav {
    @include small {
      display: none;
    }
  }

  .menuicon {
    display: none;
    position: relative;
    z-index: 1;
    height: 48px;
    width: 48px;
    margin-right: calc((48px - 21px) / -2);
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    @include small {
      display: flex;
    }

    .top,
    .bottom {
      position: relative;
      display: block;
      width: 21px;
      height: 1px;
      transition: 0.5s transform cubic-bezier(0.19, 1, 0.22, 1),
        0.5s color ease-in-out;
      background-color: #000;
      border-radius: 2px;
    }

    .bottom {
      margin-top: 6px;
    }
  }

  .showMenu {
    .name {
      color: #fff;
    }
    nav {
      position: fixed;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.95);
      color: #fff;
      font-size: 2em;
      text-align: center;
      animation: bg 0.2s ease-out backwards;
    }
    .top,
    .bottom {
      background-color: #fff;
    }
    .top {
      transform: rotate(-45deg);
    }
    .bottom {
      margin-top: -1px;
      transform: rotate(45deg);
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    @include small {
      width: 100%;
    }
  }

  li {
    position: relative;
    display: inline-block;
    overflow: visible;

    & + li {
      margin-left: var(--unit-half);

      @include small {
        margin-left: 0;
        margin-top: var(--unit-half);
      }
    }

    @include small {
      display: block;
      animation: fadeup 0.5s ease-in-out backwards;
    }
  }

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.topbar a,
.link {
  position: relative;
  text-decoration: none;
}

.topbar a:after,
.link:after {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 100%;
  height: 8px;
  background-color: var(--backdrop);
  transform: scaleX(0);
  transform-origin: right center;
  transition: 0.5s transform cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
  content: '';
  z-index: -1;
}

.topbar a:hover:after,
.link:hover:after,
.topbar a.active:after {
  transform: scaleX(1);
  transform-origin: left center;
}

/* HEADER */

header {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;

  .slim {
    min-height: 100vh;
  }

  @include medium {
    align-items: flex-end;
    flex-flow: wrap;
  }

  .dark span {
    color: rgba(0, 0, 0, 0.75);
    text-shadow: none;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.meta {
  padding-top: var(--unit-double);
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: var(--unit);
  align-items: flex-end;
  justify-content: space-between;
  z-index: 1;

  @include medium {
    padding-top: 0;
    margin-bottom: 0;
    height: 100vh;
  }

  @include medium-only {
    max-height: 50vh;
  }

  hgroup {
    max-width: calc(50% - var(--unit));

    @include medium {
      max-width: 100%;
      margin-bottom: var(--unit);
    }
  }

  h1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  span {
    margin-left: auto;
    line-height: 1;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);

    @include medium {
      display: none;
    }

    img {
      margin-right: 0.5rem;
      height: 24px;
      vertical-align: middle;
    }
  }
}

.bg-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: var(--text-color);
  overflow: hidden;

  @include medium {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    left: 0;
    right: auto;
  }

  @include medium-only {
    max-height: 50vh;
  }

  video {
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.bg {
  opacity: 1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 60% center;

  @include medium {
    background-position: center center;
  }
}

/* POSTS */

.posts {
  padding-top: var(--unit);
  /* background-color: #fafafa; */

  & > .container {
    display: flex;
    flex-flow: wrap;
  }

  .col {
    flex: 0 0 calc(50% - var(--unit-half));
    margin-right: var(--unit);

    &:nth-child(2) {
      margin-right: 0;
    }

    @include small {
      flex: 0 0 100%;
    }
  }
}

.post:hover .cover:after {
  box-shadow: inset 0 0 0 10px #fff;
}

.cover {
  position: relative;
  overflow: hidden;

  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    box-shadow: inset 0 0 0 0 #fff;
    transition: 0.5s box-shadow cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
  }

  img {
    display: block;
    transition: 0.5s transform cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.post {
  margin-bottom: var(--unit);

  @include small {
    margin-bottom: var(--unit);
  }

  &:hover .cover img {
    transform: scale(1.05);
  }

  a {
    text-decoration: none;
  }
}

/* ARTICLE */
article {
  position: relative;
  line-height: 1.4;
  padding-top: var(--unit);
  /* background-color: #fafafa; */
  /* background-image: linear-gradient(to bottom, #fafafa 0%, #fff 100%); */
  overflow: auto;

  & > .container {
    display: flex;
    flex-flow: row wrap;
  }
}

.intro {
  width: 100%;
  display: flex;
  flex-flow: row wrap;

  & > div {
    width: calc(50% - var(--unit-half));
    margin-bottom: var(--unit-double);
    padding-bottom: var(--unit-half);
    padding-right: var(--unit-half);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    @include small {
      width: 100%;
    }

    & + div {
      margin-left: auto;
    }
  }

  p {
    margin-top: 0;
  }

  h6 + p {
    margin-top: 0.4rem;
    margin-bottom: 1rem;
  }
}

.block {
  max-width: calc(50% - var(--unit));
  margin-bottom: var(--unit-double);

  @include small {
    max-width: 100%;
    flex-shrink: 0;
  }

  &.pull {
    margin-bottom: var(--unit);
  }

  &.center {
    flex-shrink: 0;
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &.right {
    margin-left: auto;
    margin-right: var(--unit-half);
  }

  p:last-child {
    margin-bottom: 0;
  }
}

article h2 + p {
  margin-top: 1em;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(50% - var(--unit));

  @include medium {
    max-width: 100%;
  }
}

h3 + p,
article h4 + p {
  margin-top: var(--unit-half);
}

article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.read-on {
  position: relative;
  display: inline-block;
  margin-top: var(--unit-half);
  /* margin-bottom: var(--unit-half); */
}

.read-on:before {
  display: inline-block;
  height: 100%;
  position: absolute;
  transform: translateX(-150%);
  background-repeat: no-repeat;
  background-position: right center;
  content: '\2192';
  transition: 0.2s transform ease-in-out;
}

.read-on:hover:before {
  animation: dab 1s cubic-bezier(0.64, 0.04, 0.35, 1) infinite;
}

@keyframes dab {
  0% {
    transform: translateX(-150%) rotate(0deg);
  }
  50% {
    transform: translateX(-200%) rotate(180deg);
  }
  70% {
    transform: translateX(-150% rotate(0deg));
  }
}

/* FOOTER */

footer {
  padding: var(--unit) 0;
  background-color: var(--fade-color);
  /* box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05); */

  & > .container {
    display: flex;
    justify-content: space-between;

    @include small {
      justify-content: center;
      flex-flow: row wrap;
    }
  }

  span {
    line-height: 1;
    opacity: 0.5;

    @include small {
      width: 100%;
      text-align: center;
      margin-top: var(--unit);
      opacity: 0.25;
      font-size: 1rem;
    }
  }

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    @include small {
      display: block;
    }
  }

  a {
    opacity: 0.5;
    transition: opacity 0.2s cubic-bezier(0.64, 0.04, 0.35, 1);
    text-decoration: none;

    @include small {
      display: inline-block;
    }

    &:hover {
      opacity: 1;
    }

    img {
      width: 16px;
      /* Don't want anything to be cut off. */
      padding: 1px;
      display: block;

      @include small {
        width: 32px;
      }
    }
  }

  li {
    display: flex;
    line-height: 1;
    align-items: center;

    @include small {
      display: inline-block;
      margin-right: var(--unit);

      &:last-child {
        margin-right: 0;
      }
    }

    & + li:before {
      display: inline-block;
      position: relative;
      width: 1px;
      height: 24px;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      background-color: rgba(0, 0, 0, 0.1);
      content: '';

      @include small {
        display: none;
      }
    }
  }

  .email {
    @include small {
      display: block;
      margin-right: 0;
      margin-bottom: var(--unit);
      text-align: center;
    }
  }
}
