@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply max-h-screen overflow-hidden text-base antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }

  body:after {
    content: '';
    position: fixed;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    z-index: -1;
    @apply bg-white dark:bg-black;
  }
}

@layer components {
  .prose {
    @apply text-gray-800 dark:text-zinc-100 font-sans text-lg;
  }

  .prose img {
    @apply w-full rounded-lg;
  }

  .prose a {
    @apply font-medium text-blue-600 dark:text-orange-500 no-underline break-words border-b border-transparent hover:border-blue-200 dark:hover:border-orange-500;
  }
}

