@import "variables.css";
@import "keyframes.css";

.overview {
  margin: 0;
  padding: 0;
  column-count: 2;
  column-gap: 5rem;
  column-width: 50%;
  list-style: none;

  li {
    break-inside: avoid-column;

    img {
      width: 100%;
    }
  }
}

.intro {
  margin-top: 3rem;
  margin-bottom: 6rem;
  opacity: 0;
  animation: fadein .8s .5s ease-in-out forwards;
  transform-style: preserve-3d;

  h1 {
    margin-bottom: 1rem;
  }

  p {
    opacity: $opacity-meta;
  }
}
