@import 'variables.css';
@import 'keyframes.css';

.home {
}

.projects {
  display: flex;
  max-width: $wide-width;
  margin: 0 auto;

  & > div {
    flex: 1 1 auto;
    width: 50%;
    margin-right: 1.5rem;

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}
