@import 'variables.css';

h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-weight: $fw-bold;
  font-family: $head;
  line-height: 1.25;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 0.6rem;
}

h3:global {
  font-size: 1em;
  font-family: $sans-serif;
  font-weight: $fw-normal;
  /* letter-spacing: -.01em; */
  margin-bottom: 0;
  color: $meta-color;
}
