@import "variables.css";

h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-family: $serif;
  font-weight: $fw-normal;
  line-height: 1.222;
  letter-spacing: -0.008em;
}

h1 {
  font-size: 3.3rem;
  font-weight: 300;
}

h2 {
  font-size: 2.2rem;
  font-weight: 400;
}

